{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "new-cap": "off",
    "newline-after-var": "off",
    "no-invalid-this": "off",
    "quotes": "off",
    "guard-for-in": "off",
    "no-console": "off",
    "no-undefined": "off",
    "array-bracket-spacing": "off",
    "no-unused-expressions": "off",
    "func-style": "off",
    "comma-dangle": [
      "error",
      "never"
    ]
  }
}
