//筛选
.filter-wrapper {
  z-index: 999;
  width: 100%;
  position: relative;
  height: 1.25rem;
}

.con-filter {
  display: flex;
  position: absolute;
  top: 1.25rem;
  width: 100%;
  .con-filter-wrapper {
    background: #fff;
    height: 10.67188rem;
    overflow: visible;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    position: absolute;
    z-index: 999;
    width: 100%;
  }
  .scroll-inner {
    overflow: hidden;
    width: 100%;
  }
  .con-filter-inner {
    background: #fff;
    height: 10.67188rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .allbrand {
    line-height: 1.25rem;
    height: 1.25rem;
    padding-left: 10px;
    border-bottom: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    font-size: .34375rem;
  }
  span.letter {
    display: block;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    background: #f8f8f8;
    color: #333;
  } // 字母索引
  .letter_list {
    position: absolute;
    right: 0;
    width: .5rem;
    top: 2px;
    background: #fff;
    text-align: center;
    li {
      width: 100%;
      height: .37rem;
      line-height: 1;
      font-size: .37rem;
      cursor: pointer;
    }
  } // 热门品牌
  .hot_brand {
    dl {}
    .title {
      margin-bottom: 0;
      position: relative;
      height: 35px;
      line-height: 35px;
      padding-left: 10px;
      color: #999;
      font-size: 14px;
      background-color: #f7f7f7;
      &:after {
        border: .125rem solid transparent;
        border-top-color: #e6e6e6;
        content: '';
        position: absolute;
        right: .46875rem;
        top: 50%;
        margin-top: -.0625rem;
        transform: rotate(-180deg);
        transform-origin: center 2px;
        transition: transform .3s ease-out 0s;
      }
      &.show {
        &:after {
          transform: rotate(0deg);
        }
      }
    }
    dd {
      flex: 1;
      display: none;
    }
    .links {
      display: block;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      align-items: center;
      a {
        padding: 0;
        padding-left: .46875rem;
        text-align: left;
        display: block;
        color: inherit;
        font-size: 14px;
        border-bottom: 1px solid #f3f3f3;
        width: inherit;
        line-height: 1.25rem;
        height: 1.25rem;
        font-size: .34375rem;
        box-sizing: border-box;
      }
    }
  } // 价格
  .shaixuan_li {
    border-bottom: 1px solid #f3f3f3;
    box-sizing: border-box;
    display: block;
    height: 1.25rem;
    padding: 0 .46875rem;
    font-size: .34375rem;
    .small_price,
    .bigprice {
      width: 1.25rem;
      height: .58rem;
      margin-right: 10px;
      margin-top: .25rem;
      border: 1px solid #ccc;
      text-align: center;
      line-height: .58rem;
      -webkit-appearance: none;
      -webkit-user-select: text;
    }
    .bigprice {
      margin-left: 10px;
      margin-right: 5px;
    }
    .queding {
      display: block;
      position: absolute;
      width: 1.5rem;
      height: .65rem;
      background-color: #ccc;
      line-height: .65rem;
      text-align: center;
      top: 50%;
      right: .46875rem;
      margin-top: -.325rem;
      color: #fff;
      padding: 0;
      &:active {
        background: rgba(0, 0, 0, .05);
      }
    }
  } // 更多
  .filter-more,
  .filter-more-content {
    // transition: all .3s ease-out 0s;
    .con-filter-inner {
      height: 9.0625rem;
      width: 100%;
    }
  }
  .filter-more {
    li {
      em {
        float: right;
        .choice-box {
          display: inline-block;
          padding: .125rem .375rem;
          background-color: #ededed;
          border-radius: 3px;
          line-height: .34375rem;
          margin-left: .15625rem;
          &.choice-box-active {
            background-color: #ffeeea;
            color: #ff552e;
            border: 1px solid #ff552e;
            box-sizing: border-box;
          }
        }
      }
      &:after {
        content: "";
        display: inline-block;
        border-top: 5px solid #e6e6e6;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        right: .46875rem;
        top: .54688rem;
        transform: rotate(-90deg);
      }
    }
    .filter_more-item-type1 {
      &:after {
        content: none;
      }
    }
    .choice {
      float: right;
      margin-right: .5rem;
    }
  } // 更多更多
  .filter-more-content {
    position: absolute;
    z-index: 998;
    left: 100%;
    .filter_more_color {
      em {
        display: inline-block;
        width: .375rem;
        height: .375rem;
        margin-right: .15625rem;
        position: relative;
        top: .0625rem;
      }
    }
  }
  .btn-submit-wrapper,
  .btn-back-wrapper {
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f6f6ff;
    padding: .40625rem;
    box-sizing: border-box;
    a {
      margin: 0 auto;
      text-align: center;
      background-color: #ff552e;
      border-radius: 0;
      height: 1.09375rem;
      width: 3.4375rem;
      line-height: 1.09375rem;
      color: #fff;
      display: block;
      font-size: .40625rem;
    }
  }
}

.con-filter ul {
  width: 100%;
  -webkit-transition-duration: 0;
  margin-top: -1px;
}

.con-filter ul:first-child {
  border-left: 0;
}

.con-filter li {
  position: relative;
}

.con-filter li a {
  display: block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: 1.25rem;
  height: 1.25rem;
  padding: 0 .46875rem;
  font-size: .34375rem;
  border-bottom: 1px solid #f3f3f3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.con-filter .hide {
  display: none;
}

.selected a {
  color: #ff552e
} ///* 导航 */
.nav-filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
}

.nav-filter li {
  border-right: 0;
  border-left: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #555;
  position: relative;
  left: -.25rem;
  text-align: center;
}

.nav-filter li:first-child {
  border-left: 0;
}

.nav-filter li a {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  display: inline-block;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: .34375rem;
  width: 1.34375rem;
}

.nav-filter li a:after {
  border: .125rem solid transparent;
  border-top-color: #e6e6e6;
  content: '';
  position: absolute;
  top: .5625rem;
  right: 10px;
  margin-left: 5px;
}

.nav-filter li:active,
.nav-filter li.active {
  color: #ff552e
}

.nav-filter li:active a:after,
.nav-filter li.active a:after {
  border: .125rem solid transparent;
  border-bottom-color: #ff552e;
  content: '';
  position: absolute;
  top: .475rem;
  right: 10px;
  margin-left: 5px;
}