{% set 
    _filter = {
        types: [
            {
                href: 'javascript:;',
                text: '全部'
            },
            {
                href: 'javascript:;',
                text: '轿车'
            },
            {
                href: 'javascript:;',
                text: '越野车/SUV'
            },
            {
                href: 'javascript:;',
                text: 'MPV'
            },
            {
                href: 'javascript:;',
                text: '跑车'
            },
            {
                href: 'javascript:;',
                text: '面包车'
            },
            {
                href: 'javascript:;',
                text: '皮卡'
            },
            {
                href: 'javascript:;',
                text: '新能源'
            },
            {
                href: 'javascript:;',
                text: '工程车'
            },
            {
                href: 'javascript:;',
                text: '货车'
            },
            {
                href: 'javascript:;',
                text: '客车'
            },
            {
                href: 'javascript:;',
                text: '三轮机动车'
            },
            {
                href: 'javascript:;',
                text: '老年代步车'
            }
        ],
        hot_brand_list: [
            {
                href:'javascript:;',
                text: '全部'
            },
            {
                href:'javascript:;',
                text: '大众'
            },
            {
                href:'javascript:;',
                text: '本田'
            },
            {
                href:'javascript:;',
                text: '别克'
            },
            {
                href:'javascript:;',
                text: '丰田'
            },
            {
                href:'javascript:;',
                text: '福特'
            },
            {
                href:'javascript:;',
                text: '日产'
            },
            {
                href:'javascript:;',
                text: '奇瑞'
            },
            {
                href:'javascript:;',
                text: '宝马'
            },
            {
                href:'javascript:;',
                text: '现代'
            },
            {
                href:'javascript:;',
                text: '奥迪'
            },
            {
                href:'javascript:;',
                text: '马自达'
            },
            {
                href:'javascript:;',
                text: '比亚迪'
            },
            {
                href:'javascript:;',
                text: '铃木'
            },
            {
                href:'javascript:;',
                text: '雪铁龙'
            },
            {
                href:'javascript:;',
                text: '吉利'
            },
            {
                href:'javascript:;',
                text: '奔驰'
            },
            {
                href:'javascript:;',
                text: '长安'
            },
            {
                href:'javascript:;',
                text: '众泰'
            },
            {
                href:'javascript:;',
                text: '雪佛兰'
            },
            {
                href:'javascript:;',
                text: '金杯'
            },
            {
                href:'javascript:;',
                text: '起亚'
            }
        ],
        brand_list: [
            {
                id: 'letter_0',
                text: '#',
                list: [
                    {
                        href: 'javascript:;',
                        text: '奥迪'
                    },
                    {
                        href: 'javascript:;',
                        text: '奥迪'
                    },
                    {
                        href: 'javascript:;',
                        text: '奥迪'
                    },
                    {
                        href: 'javascript:;',
                        text: '奥迪'
                    },
                    {
                        href: 'javascript:;',
                        text: '奥迪'
                    }
                ] 
            },
            {
                id: 'letter_a',
                text: 'A',
                list: [
                    {
                        href: 'javascript:;',
                        text: '奥迪'
                    },
                    {
                        href: 'javascript:;',
                        text: '奥迪'
                    },
                    {
                        href: 'javascript:;',
                        text: '奥迪'
                    },
                    {
                        href: 'javascript:;',
                        text: '奥迪'
                    },
                    {
                        href: 'javascript:;',
                        text: '奥迪'
                    }
                ] 
            }
        ]
    }
%}
<div class="filter">
    <div class="con-filter js_con-filter">
        <!-- 类型 -->
        <div class="con-filter-wrapper hide  js_con-filter-wrapper">
            <div class="con-filter-inner">
                <div id="scroll-inner-1" class="scroll-inner">
                    <ul>
                        {% for type in _filter.types %}
                        <li class="">
                            <a href="{{type.href}}" class="single">{{type.text}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- 品牌 -->
        <div class="con-filter-wrapper hide js_con-filter-wrapper">
            <div class="con-filter-inner">

                <div id="scroll-inner-2" class="scroll-inner js_scroll-inner">
                    <div class="scroll-inner">
                        <!-- 全部品牌 -->
                        <div class="allbrand">
                            <a class="single" href="javascript:;" data-id="aodi">全部</a>
                        </div>
                        <!-- 热门品牌 -->
                        <div class="hot_brand">
                            <dl>
                                <dt class="title">热门品牌</dt>
                                <dd>
                                    <div class="links">
                                        {% for link in _filter.hot_brand_list %}
                                        <a href="{{link.href}}">{{link.text}}</a>
                                        {% endfor %}
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <ul class="brand_list">
                            <li>
                                <a class="single" href="javascript:;" data-id="aodi">热门车系</a>
                            </li>
                            {% for letter in _filter.brand_list %}
                            <span class="letter" id="{{letter.id}}">{{letter.text}}</span>
                                {% for item in letter.list %}
                                <li>
                                    <a class="single" href="{{item.href}}">{{item.text}}</a>
                                </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {# 字母索引 #}
                <ul class="letterlist js_letterlist">
                    {% for letter in _filter.brand_list %}
                    <li>{{letter.text}}</li>
                    {% endfor %}
                </ul>
                {# 字母索引 end #}
            </div>
        </div>
        <!-- 价格 -->
        <div class="con-filter-wrapper hide js_con-filter-wrapper">
            <div class="con-filter-inner">
                <div id="scroll-inner-3" class="scroll-inner js_scroll-inner">
                    <ul><li class="shaixuan_li"><input class="small_price" type="tel" value="" maxlength="9">-<input class="bigprice" type="tel" value="" maxlength="9">万<a href="" class="queding">确定</a></li>
                        <li>
                            <a class="single" href="/liuzhou/ershouche/" data-id="all">全部</a>
                        </li>
                        <li>
                            <a class="single" href="http://m.58.com/liuzhou/ershouche/pve_5864_0_3/" data-id="">3万元以内</a>
                        </li>
                        <li>
                            <a class="single" href="http://m.58.com/liuzhou/ershouche/pve_5864_3_5/" data-id="">3-5万元</a>
                        </li>
                        <li>
                            <a class="single" href="http://m.58.com/liuzhou/ershouche/pve_5864_5_7/" data-id="">5-7万元</a>
                        </li>
                        <li>
                            <a class="single" href="http://m.58.com/liuzhou/ershouche/pve_5864_7_999999/" data-id="">7万元以上</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 更多 -->
        <div class="con-filter-wrapper hide js_con-filter-wrapper">
            <div class="con-filter-inner">
                <div id="scroll-inner-4" class="scroll-inner js_scroll-inner">
                    <ul>
                        <li>
                            <a href="javascript:void(0);" class="single">更多</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="single">轿车</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="single">越野车/SUV</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="single">MPV</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="single">跑车</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="single">面包车</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="single">皮卡</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="single">新能源</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="single">工程车</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="single">货车</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="single">客车</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="single">三轮机动车</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="single">老年代步车</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="list-filter">
        <ul class="nav-filter js_nav_filter">
            <li class="active">
                <a href="javascript:void(0)">类型</a>
            </li>
            <li>
                <a href="javascript:void(0)">品牌</a>
            </li>
            <li>
                <a href="javascript:void(0)">价格</a>
            </li>
            <li>
                <a href="javascript:void(0)">更多</a>
            </li>
        </ul>
    </div>
</div>